In [ ]:
import os
import pandas as pd
import random


os.chdir('..')

In [ ]:

distance_question = [
    "Quali sono i piatti che necessitano di una licenza di grado 3 o superiore per la preparazione e sono serviti in un ristorante che si trova entro un raggio di 659 anni luce dal pianeta Namecc, Namecc incluso?",
    "Quali sono i piatti che necessitano almeno della licenza Psionica di grado 4 e che sono stati preparati in ristoranti entro un raggio di 176 anni luce dal pianeta Arrakis, Arrakis incluso?",
    "Quali piatti sono stati creati utilizzando almeno una tecnica di surgelamento secondo il di Sirius Cosmo e sono stati serviti in un ristorante situato entro un raggio di 317 anni luce dal pianeta Krypton, Krypton incluso?",
    "Quali piatti speciali sono stati creati utilizzando le tecniche di impasto del di Sirius Cosmo e sono serviti nei ristoranti vicini al pianeta Krypton, entro un raggio di 21 anni luce, Krypton incluso?",
    "Quali sono i piatti disponibili nei ristoranti entro 126 anni luce da Cybertron, quest'ultimo incluso, che non includono Funghi dell'Etere?",
    "Quali piatti possiamo gustare in un ristorante entro 83 anni luce da Cybertron, quest'ultimo incluso, evitando rigorosamente quelli cucinati con Farina di Nettuno?"
]

recipes = [
{
    'id' : 1,
    'planet_ok' : 'Ego',
    'planet_distance' : round(random.uniform(distances['Ego'].min()+100, distances['Ego'].max()-100))
    },
{
    'id' : 2,
    'planet_ok' : 'Namecc',
    'planet_distance' : round(random.uniform(distances['Namecc'].min()+100, distances['Namecc'].max()-100))
    },
{
    'id' : 3,
    'planet_ok' : 'Klyntar',
    'planet_distance' : None
    },
{
    'id' : 4,
    'planet_ok' : 'Namecc',
    'planet_distance' : None
    },
{
    'id' : 5,
    'planet_ok' : 'Krypton',
    'planet_distance' : round(random.uniform(distances['Krypton'].min()+100, distances['Krypton'].max()-100))
    }]

['Quali sono i piatti che necessitano di una licenza di grado 3 o superiore per la preparazione e sono serviti in un ristorante che si trova entro un raggio di 659 anni luce dal pianeta Namecc, Namecc incluso?',
 'Quali sono i piatti che necessitano almeno della licenza Psionica di grado 4 e che sono stati preparati in ristoranti entro un raggio di 176 anni luce dal pianeta Arrakis, Arrakis incluso?',
 'Quali piatti sono stati creati utilizzando almeno una tecnica di surgelamento secondo il di Sirius Cosmo e sono stati serviti in un ristorante situato entro un raggio di 317 anni luce dal pianeta Krypton, Krypton incluso?',
 'Quali piatti speciali sono stati creati utilizzando le tecniche di impasto del di Sirius Cosmo e sono serviti nei ristoranti vicini al pianeta Krypton, entro un raggio di 21 anni luce, Krypton incluso?',
 "Quali sono i piatti disponibili nei ristoranti entro 126 anni luce da Cybertron, quest'ultimo incluso, che non includono Funghi dell'Etere?",
 "Quali piatti possiamo gustare in un ristorante entro 83 anni luce da Cybertron, quest'ultimo incluso, evitando rigorosamente quelli cucinati con Farina di Nettuno?"]

In [ ]:
distances = pd.read_csv(os.path.join(os.getcwd(), 'data\\raw\Misc\\Distanze.csv'))
distances.index = distances['/']
distances = distances.drop(columns='/')

recipes = [{'id': 1, 'planet_ok': 'Ego', 'planet_distance': 649},
 {'id': 2, 'planet_ok': 'Namecc', 'planet_distance': 644},
 {'id': 3, 'planet_ok': 'Klyntar', 'planet_distance': None},
 {'id': 4, 'planet_ok': 'Namecc', 'planet_distance': None},
 {'id': 5, 'planet_ok': 'Krypton', 'planet_distance': 263}]

for recipe in recipes:
    if recipe['planet_distance'] is not None:
        print('ConnectionAbortedError')
        planet_ok = recipe['planet_ok']
        recipe['planet_ok'] = distances[distances[f'{planet_ok}']< recipe['planet_distance']].index.tolist()


recipes

ConnectionAbortedError
ConnectionAbortedError
ConnectionAbortedError

[{'id': 1,
  'planet_ok': ['Asgard',
   'Krypton',
   'Pandora',
   'Cybertron',
   'Ego',
   'Montressosr',
   'Klyntar'],
  'planet_distance': 649},
 {'id': 2,
  'planet_ok': ['Tatooine', 'Asgard', 'Namecc', 'Krypton'],
  'planet_distance': 644},
 {'id': 3, 'planet_ok': 'Klyntar', 'planet_distance': None},
 {'id': 4, 'planet_ok': 'Namecc', 'planet_distance': None},
 {'id': 5, 'planet_ok': ['Asgard', 'Krypton'], 'planet_distance': 263}]

In [46]:

recipes = [{'id': 1, 'planet_ok': 'Ego', 'planet_distance': 649},
 {'id': 2, 'planet_ok': 'Namecc', 'planet_distance': 644},
 {'id': 3, 'planet_ok': 'Klyntar', 'planet_distance': None},
 {'id': 4, 'planet_ok': 'Namecc', 'planet_distance': None},
 {'id': 5, 'planet_ok': 'Krypton', 'planet_distance': 263}]
distances

,Tatooine,Asgard,Namecc,Arrakis,Krypton,Pandora,Cybertron,Ego,Montressosr,Klyntar
/,,,,,,,,,,
Tatooine,0,695,641,109,661,1130,344,835,731,530
Asgard,695,0,550,781,188,473,493,156,240,479
Namecc,641,550,0,651,367,987,728,688,767,845
Arrakis,109,781,651,0,727,1227,454,926,834,640
Krypton,661,188,367,727,0,626,557,321,422,599
Pandora,1130,473,987,1227,626,0,847,317,413,731
Cybertron,344,493,728,454,557,847,0,594,434,186
Ego,835,156,688,926,321,317,594,0,215,532
Montressosr,731,240,767,834,422,413,434,215,0,331
Klyntar,530,479,845,640,599,731,186,532,331,0